

div{
    width: 2%;
    
    height: 30px;
    margin: 0px;
    margin-top: -30px;
    border: 2px solid black;
    background-color: palevioletred;
    font-size: 1.5rem;
    position: sticky;
    top:0px;
    
}
